body {
  font-family: 'Roboto', sans-serif; }

#nav-bar {
  background: #fff;
  box-shadow: 0 1px 0 0 #ddd;
  height: 80px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 99; }
  #nav-bar .nav-container {
    height: 100%; }
    @media screen and (min-width: 64em) {
      #nav-bar .nav-container .nav-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%); } }
    #nav-bar .nav-container .top-bar-left, #nav-bar .nav-container .top-bar-right {
      height: 100%; }
  #nav-bar #responsive-menu {
    height: 100%; }

.top-bar ul {
  background: white;
  height: 100%; }
  .top-bar ul li, .top-bar ul a {
    color: #999;
    height: 100%; }
  .top-bar ul li {
    height: 100%; }
    .top-bar ul li.nav-menu:hover {
      box-shadow: 0 5px 0 0 #be1e2d; }
      .top-bar ul li.nav-menu:hover a {
        color: #be1e2d; }
.top-bar .top-bar-left a {
  font-size: 16px;
  font-weight: bold;
  height: 80px;
  padding: 30px 25px;
  text-align: center;
  text-transform: uppercase; }
  .top-bar .top-bar-left a:hover {
    color: #be1e2d; }
.top-bar .top-bar-right li {
  padding: 20px; }
.top-bar .top-bar-right input {
  background: url("../images/search.png") no-repeat 92% center;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 14px;
  margin-right: 0;
  max-width: 100%;
  padding: 10px 20px;
  width: 330px; }
.top-bar .top-bar-right button {
  border-radius: 100px;
  padding: 12px 30px;
  text-transform: uppercase; }
.top-bar .top-bar-right img {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 5px; }
.top-bar .top-bar-right a {
  padding: 0; }

#main-body {
  padding-bottom: 25px;
  padding-top: 105px; }
  #main-body #premium-content {
    padding-bottom: 50px; }
    #main-body #premium-content .content {
      position: relative; }
    #main-body #premium-content img {
      height: 340px; }
    #main-body #premium-content .split img {
      height: 160px; }
    #main-body #premium-content .split:first-child {
      margin-bottom: 10px; }
    #main-body #premium-content .split:last-child {
      margin-top: 10px; }
    #main-body #premium-content .meta {
      bottom: 0;
      padding: 20px;
      position: absolute; }
      #main-body #premium-content .meta .category {
        border-radius: 100px;
        color: white;
        font-size: 11px;
        font-weight: bold;
        opacity: 0.6;
        padding: 5px 10px;
        text-transform: uppercase; }
        #main-body #premium-content .meta .category.bikers {
          background: #0076ff; }
        #main-body #premium-content .meta .category.biker {
          background: #009398; }
        #main-body #premium-content .meta .category.community {
          background: #ff9600; }
        #main-body #premium-content .meta .category.motorcycle {
          background: #ea1e53; }
      #main-body #premium-content .meta h2 {
        color: white;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 0;
        margin-top: 10px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  #main-body #reading-container {
    border-bottom: 1px solid #ccc; }
    #main-body #reading-container .main-img {
      width: 100%; }
    #main-body #reading-container h3 {
      color: #be1e2d;
      font-size: 11px;
      font-weight: 900;
      margin-top: 20px;
      text-transform: uppercase; }
    #main-body #reading-container h2 {
      color: #12162d;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3; }
    #main-body #reading-container p {
      color: #333;
      line-height: 1.6;
      padding-bottom: 20px; }
    #main-body #reading-container .meta-like-comments {
      padding: 10px 0 35px; }
  #main-body .comments-container {
    padding: 25px 0; }
    #main-body .comments-container h4 {
      color: #333;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px; }
    #main-body .comments-container .post-form {
      margin-bottom: 20px;
      position: relative; }
      #main-body .comments-container .post-form img {
        border-radius: 50%;
        display: inline-block;
        height: 45px;
        left: 0;
        margin-right: 10px;
        position: relative;
        width: 45px; }
      #main-body .comments-container .post-form .input-group {
        position: absolute;
        right: 0;
        top: 3px;
        width: 90%; }
    #main-body .comments-container .comments-list {
      list-style: none;
      margin: 0 0 20px 0; }
      #main-body .comments-container .comments-list li {
        border-bottom: 1px solid #eee;
        padding: 20px 0; }
        #main-body .comments-container .comments-list li img {
          border-radius: 50%;
          display: inline-block;
          height: 45px;
          margin-right: 10px;
          margin-top: 10px;
          width: 45px; }
        #main-body .comments-container .comments-list li p {
          color: #333;
          display: inline-block;
          line-height: 1.6;
          padding-top: 5px;
          vertical-align: top;
          width: 90%; }
    #main-body .comments-container .view-all {
      color: #999;
      cursor: pointer; }
      #main-body .comments-container .view-all:hover {
        color: #0076ff; }
  #main-body .recommended {
    margin-top: 20px; }
    #main-body .recommended h4 {
      color: #333;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-left: 10px; }
    #main-body .recommended h3 {
      color: #333;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 20px;
      padding: 10px; }
    #main-body .recommended .recommended-card {
      background: white;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1); }
  #main-body #profile-container h4 {
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  #main-body #profile-container .user-desc {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -80px; }
    #main-body #profile-container .user-desc .user-pic {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      height: 130px;
      padding: 10px;
      width: 130px; }
    #main-body #profile-container .user-desc h3 {
      color: #333;
      font-size: 24px;
      font-weight: 500px; }
    #main-body #profile-container .user-desc p {
      color: #999;
      font-size: 16px;
      line-height: 1.4; }
  #main-body #leaderboard {
    background: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px; }
    #main-body #leaderboard h3 {
      color: #12162d;
      font-size: 24px;
      font-weight: 900; }
    #main-body #leaderboard ul {
      list-style: none;
      margin: 0; }
      #main-body #leaderboard ul .leaderboard-list {
        border-top: 1px solid #ddd;
        padding: 20px 0; }
        #main-body #leaderboard ul .leaderboard-list .position {
          color: #be1e2d;
          font-size: 32px;
          font-weight: 900px;
          margin-right: 15px;
          vertical-align: middle; }
        #main-body #leaderboard ul .leaderboard-list img {
          border-radius: 50%; }
        #main-body #leaderboard ul .leaderboard-list .detail {
          display: inline-block;
          margin-left: 10px;
          position: relative;
          vertical-align: top; }
          #main-body #leaderboard ul .leaderboard-list .detail .name {
            color: #12162d; }
          #main-body #leaderboard ul .leaderboard-list .detail .distance {
            color: #999;
            font-size: 20px;
            font-weight: bold; }
  #main-body #voting {
    background: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px; }
    #main-body #voting h3 {
      border-bottom: 1px solid #ddd;
      color: #12162d;
      font-size: 24px;
      font-weight: 900;
      padding-bottom: 10px; }
    #main-body #voting .intro {
      margin: 10px 0; }
    #main-body #voting figcaption {
      background: none;
      padding: 10px;
      text-align: center; }
      #main-body #voting figcaption .like-container {
        list-style: none;
        margin: 0; }
        #main-body #voting figcaption .like-container li {
          background: rgba(0, 0, 0, 0.5);
          display: inline-block;
          height: 32px;
          margin-right: -3px; }
          #main-body #voting figcaption .like-container li:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            cursor: pointer;
            padding: 2px 8px 2px 15px; }
          #main-body #voting figcaption .like-container li:nth-child(2) {
            background: #be1e2d;
            padding: 5px;
            vertical-align: top; }
          #main-body #voting figcaption .like-container li:last-child {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            cursor: pointer;
            padding: 2px 15px 2px 8px; }
        #main-body #voting figcaption .like-container .like {
          background: url("../images/icon-like.png") 0px 0 no-repeat;
          display: inline-block;
          height: 25px;
          width: 25px; }
          #main-body #voting figcaption .like-container .like:hover {
            background: url("../images/icon-like.png") -29px 0 no-repeat; }
        #main-body #voting figcaption .like-container .dislike {
          background: url("../images/icon-dislike.png") 0px 0 no-repeat;
          display: inline-block;
          height: 25px;
          width: 25px; }
          #main-body #voting figcaption .like-container .dislike:hover {
            background: url("../images/icon-dislike.png") -29px 0 no-repeat; }

.user-bg {
  background: url("http://lorempixel.com/1280/640/nature") 0 0 no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%; }

.post-card {
  background: white;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px; }
  .post-card h3 {
    color: #be1e2d;
    font-size: 11px;
    font-weight: 900;
    margin-top: 20px;
    text-transform: uppercase; }
  .post-card h2 {
    color: #12162d;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3; }
  .post-card p {
    color: #999;
    line-height: 1.6; }
  .post-card .read-more {
    color: #999;
    cursor: pointer; }
    .post-card .read-more:hover {
      color: #0076ff; }

.search-intro {
  color: #333;
  font-size: 18px;
  text-align: center;
  padding: 50px 0; }
  .search-intro span {
    color: #be1e2d; }

.meta-like-comments {
  list-style: none;
  margin: 0;
  padding-top: 20px; }
  .meta-like-comments li {
    color: #999;
    cursor: pointer;
    display: inline-block; }
    .meta-like-comments li .like {
      background: url("../images/icon-like.png") 0 0 no-repeat;
      display: inline-block;
      height: 25px;
      vertical-align: sub;
      width: 25px; }
    .meta-like-comments li .dislike {
      background: url("../images/icon-dislike.png") 0 0 no-repeat;
      display: inline-block;
      height: 25px;
      vertical-align: top;
      width: 25px; }
    .meta-like-comments li .comments {
      background: url("../images/icon-comments.png") 0 0 no-repeat;
      display: inline-block;
      height: 25px;
      vertical-align: top;
      width: 25px; }
    .meta-like-comments li:hover {
      color: #333; }
      .meta-like-comments li:hover .like {
        background: url("../images/icon-like.png") -29px 0 no-repeat; }
      .meta-like-comments li:hover .dislike {
        background: url("../images/icon-dislike.png") -29px 0 no-repeat; }
      .meta-like-comments li:hover .comments {
        background: url("../images/icon-comments.png") -29px 0 no-repeat; }
    .meta-like-comments li:nth-child(2) {
      margin: 0 20px; }

.load-more {
  padding: 20px;
  text-align: center; }
  .load-more .loader {
    height: 35px;
    width: 35px; }

#modal-reveal {
  padding: 50px; }
  #modal-reveal .upload-photo {
    background: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 300px;
    max-height: 300px;
    padding: 30% 0;
    text-align: center; }
    #modal-reveal .upload-photo .material-icons {
      color: rgba(0, 0, 0, 0.25);
      display: block;
      font-size: 54px; }
    #modal-reveal .upload-photo span {
      color: rgba(0, 0, 0, 0.25);
      font-size: 14px; }
  #modal-reveal button.primary {
    background-color: #be1e2d;
    border-radius: 100px;
    color: white;
    float: right;
    padding: 12px 30px;
    text-transform: uppercase; }

@media screen and (max-width: 39.9375em) {
  .top-bar-title {
    padding: 10px; }

  #nav-bar {
    height: initial; }
    #nav-bar .nav-container .nav-content {
      width: inherit; }

  .top-bar .top-bar-right input {
    width: 100%; }

  #main-body #premium-content .content {
    margin-bottom: 20px; } }

/*# sourceMappingURL=app.css.map */
